{% extends 'layouts/form.html' %}

{% load django_bootstrap5 %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <form action="" method="post" class="card" autocomplete="off">
                {% csrf_token %}
                <div class="card-header">{{ title }}</div>
                <div class="card-body">
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-success">Tasdiqlash</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
